<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My tasks</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Tasks</h1>
                {% if my_tasks %}
                    <table>
                        <thead>
                            <!-- <tr>
                    <td> Name </td>
                    <td> Start date </td>
                    <td> Due date </td>
                    <td> Is completed </td>
                </tr> -->
                        </thead>
                        <tbody>
                            {% for task in my_tasks %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.startdate }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
