{% extends 'base.html' %}

{% block title %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Create</title>
        </head>
        <body>
        {% endblock title %}
        {% block content %}
            <main>
                <div>
                    <h1>{{ project.name }}</h1>
                    <p>{{ project.description }}</p>
                    <h2>Tasks</h2>
                    <nav>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </nav>
                    {% if project.tasks.all %}
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                            {% for detail in project.tasks.all %}
                                <tr>
                                    <td>{{ detail.name }}</td>
                                    <td>{{ detail.assignee.username }}</td>
                                    <td>{{ detail.start_date }}</td>
                                    <td>{{ detail.due_date }}</td>
                                    <td>{{ detail.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
    </html>
